# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env

# Virtual environments
venv/
env/
*.venv

# Conda environments
*.conda
*.condarc
*.conda-env
*.condarc.bak

# Poetry
poetry.lock

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Logs and debug files
*.log
*.out
*.err
debug.log

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Media files generated during execution
assets/audio/
assets/images/
assets/video/

# Cache and temporary files
*.cache
*.tmp
*.bak
*.old
*.swp

# Coverage reports
.coverage
*.cover
*.lcov

# Build artifacts
build/
dist/
*.egg-info/
*.eggs

# Pytest cache
.pytest_cache/

# Pip environment files
pip-log.txt
pip-delete-this-directory.txt

# Miscellaneous
*.lock

# API key
google-credentials.json